<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/veerasabarishkanumuri/IdeaProjects/Selenium-Java-AllComponents">
        <classes>
<!--            <class name="testCases.BasicControls">-->
<!--                <methods>-->
<!--                    <include name="fillBasicDetails"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testCases.FillSampleForm">-->
<!--                <methods>-->
<!--                    <include name="fillForm"/>-->
<!--                    <include name="dropDownSelection"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testCases.TestingProject">-->
<!--                <methods>-->
<!--                    <include name="newModule"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="testCases.NewFormFill">
                <methods>
                    <include name="allBrowserTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>